In [272]:
import pandas as pd

In [273]:
df=pd.read_csv('../Dataset\HeartDisease.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [274]:
inputs=df.drop('HeartDisease',axis='columns')
target=df.HeartDisease

In [275]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(5)

   F  M
0  0  1
1  1  0
2  0  1
3  1  0
4  0  1

In [276]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,F,M
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1

In [277]:
#to get rid of dummy trap
#removed categorical inputs
inputs.drop({'Sex','M','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'},axis='columns',inplace=True)
inputs.head(5)

   Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  F
0   40        140          289          0    172      0.0  0
1   49        160          180          0    156      1.0  1
2   37        130          283          0     98      0.0  0
3   48        138          214          0    108      1.5  1
4   54        150          195          0    122      0.0  0

In [278]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [279]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.5)

In [280]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [281]:
model.fit(X_train,y_train)

GaussianNB()

In [282]:
model.score(X_test,y_test)

0.7995642701525054

In [283]:
X_test[0:10]

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  F
276   51        135          160          0    150      2.0  0
574   69        142          210          1    112      1.5  0
504   62        158          210          1    112      3.0  0
379   50        120            0          0    156      0.0  0
412   56        125            0          1    103      1.0  0
375   73        160            0          0    121      0.0  1
537   74        150          258          1    130      4.0  0
518   48        102            0          1    110      1.0  0
259   55        122          320          0    155      0.0  1
275   59        180          213          0    100      0.0  0

In [284]:
y_test[0:10]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_42232\2966258366.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test[0:10]

276    1
574    1
504    1
379    1
412    1
375    1
537    1
518    1
259    0
275    0
Name: HeartDisease, dtype: int64

In [285]:
model.predict(X_test[0:10])

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1], dtype=int64)

In [286]:
model.predict_proba(X_test[:10])

array([[1.50205447e-01, 8.49794553e-01],
       [5.41929723e-03, 9.94580703e-01],
       [2.81875896e-05, 9.99971812e-01],
       [2.08023627e-01, 7.91976373e-01],
       [7.62228682e-04, 9.99237771e-01],
       [3.12390612e-01, 6.87609388e-01],
       [2.26254382e-07, 9.99999774e-01],
       [1.37413783e-03, 9.98625862e-01],
       [9.96457403e-01, 3.54259659e-03],
       [9.27424428e-02, 9.07257557e-01]])

In [287]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train,y_train,cv=5)

array([0.79347826, 0.68478261, 0.7173913 , 0.81521739, 0.8021978 ])